@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('fonts/TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('fonts/TT Lakes Bold'), local('TTLakes-Bold'),
      url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/TTLakes-Bold.woff') format('woff'),
      url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('fonts/TT Lakes Regular'), local('TTLakes-Regular'),
      url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/TTLakes-Regular.woff') format('woff'),
      url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    padding: 0; 
    font-family: "TT Lakes";
    background: rgba(248, 248, 248, 1);
    margin: 0px;
}

.page-section {
    margin: 0 auto;
    padding: 0 16px;
}

.title {
    font-family: "TT Lakes";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #7E7E82;
    text-transform: uppercase;
    background: linear-gradient(to right, #F8F8F8, #fff);
    border-top: 1px solid rgba(217, 255, 245, 1);
    margin: 0;
    padding: 16px;
    padding-left: 0;

}

.cards {
    border: 1px solid rgba(234, 234, 234, 1);
    background-color: #fff;
    border-radius: 6px;
    gap: 16px;
    height: 70px;
    min-width: 238px;
}

.swiper-wrapper {
    margin-left: 0px;
    padding: 0;
}

.swiper__link{
    display: flex;
    flex-wrap: nowrap;
}

.cards:hover {
    border: 1px solid #B8FFEC;
}

.main-button {
    margin-top: 24px;
    display: none;
    width: 133px;
    height: 24px;
}

.main-button:hover {
    border: 1px solid #B8FFEC;
    width: 131px;
    height: 22px;
    background-color: #fff;
    border-radius: 4px;
}

.button-two {
    margin-left: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Lakes-Medium.wof';
    font-weight: 500;
    background-color: transparent;
    color: rgba(27, 28, 33, 1);
    border: none;
    gap: 0;
    padding: 0;
}

.button--open {
    display: grid;
}

.mySwiper__swiper-pagination {
    position: static;
}

.mySwiper__swiper-wrapper {
    margin-bottom: 8px;
}

.go {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 16px;
    margin-left: auto;
}

.lenovo {
    width: 108px;
    height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 44px;
}

.samsung {
    margin-top: 17px;
    margin-bottom: 16.48px;
    margin-left: 16px;
    margin-right: 36px;
}

.apple {
    margin-top: 12px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 108px;
}

.viewsonic {
    margin-top: 26px;
    margin-bottom: 25px;
    margin-left: 14px;
    margin-right: 42px;
}

.bosch {
    margin-top: 21.7px;
    margin-bottom: 21.7px;
    margin-left: 16px;
    margin-right: 40px;
}

.hp {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 122px;
}

.acer {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 74px;
}

.sony {
    margin-top: 23px;
    margin-bottom: 23.4px;
    margin-left: 14px;
    margin-right: 42px;
}

.swiper-pagination-bullet-active {
    background: rgba(181, 182, 188, 1);
}

.swiper-pagination-bullet {
    background: rgba(221, 221, 221, 1);
}

@media (min-width: 500px) {

    .page-section {
        padding: 0 24px;
    }

    .swiper-wrapper {
        max-height: 200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 24px;
        max-height: 155px;
        padding-left: 0px;
    }

    .main-button {
        display: flex;
    }

    .cards {
    min-width: unset;
    }

    .bosch {
        margin-right: 24px;
    }

    .hp {
        margin-right: 106px;
    }

    .acer {
        margin-right: 58px;
    }

    .swiper__link {
        display: flex;
        flex-wrap: nowrap;
    }

    .button--open {
        max-height: 254px;
    }

    .cards:nth-child(4) {
        order: 6;
    }
    .swiper-pagination {
        display: none;
      }

}


@media (min-width: 700px) {

    .swiper-wrapper {
        column-gap: 24px;
        grid-template-columns: repeat(3, 1fr);
    }
    .swiper-pagination {
        display: none;
      }
      .mySwiper{
        padding-inline: 24px;
        padding-left: 0px;
     }
    
  }

  @media (min-width: 900px) {
    .swiper-wrapper {
        column-gap: 32px;
        grid-template-columns: repeat(4, 1fr);
    }    
    .swiper-pagination {
        display: none;
      }

  }

@media (min-width: 1121px) {
 .mySwiper{
    padding-inline: 24px;
    padding-left: 0px;
 }
    .page-section {
        padding: 0 32px;
        max-width: 1056px;
    }

    .swiper-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px 32px;
    }

    .cards:nth-child(4) {
        order: 0;
    }
    .button--open {

        max-height: 280px;
    }
    .swiper-pagination {
        display: none;
      }
    .img__rotate{
        transform: rotate(180deg);
    }

}